#navbar{
    display: flex;
    overflow: hidden;
    justify-content: end;
    margin: 40px 0px;
    right: 0px;
}

#navbar a{
    text-decoration: none;
    color: #b5b1c0;
    font-size: small;
    cursor: pointer;
    margin-right: 5vw;
    font-weight: 700;
}

#navbar a:hover{
    color: #ffffff;
}

#connect-slide{
    display: flex;
    flex-direction: column;
    height: 80vh;
    position: fixed;
    right: 5vw;
    justify-content: center;
    align-items: center;
}

#connect-slide a{
    padding-bottom: 20px; 
}

#connect-slide svg{
    color: rgba(181, 177, 192,50%);
    width: 25px;
    height: 25px;
}

#presentation{
    display: flex;
    flex-direction: row;
    color: #b5b1c0;
    height: 80vh;
    width: 100vw;
}


#presentation div{
    width: 50%;
    margin: auto;
    text-align: end;
    padding-left: 10%;
}

#presentation div:last-child{
    text-align: start;
}

#presentation p{
    font-size: 0.8vw;
    text-align: start;
    padding-top: 5vh;
    padding-left: 5vw;
    text-align: justify;
}

#presentation h1{
    font-size: 3vw;
    text-align: start;
    margin: 0px;
}

#presentation b{
    color: orange;
}

#presentation h2{
    font-size: 1.5vw;
    text-align: start;
    padding-left: 5vw;
}

#presentation img{
    width:auto;
    height: auto;
    max-width: 40vw;
    max-height: 40vh;
    border: 3px solid rgba(181, 177, 192, 80%) ;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background-color: rgba(0, 0, 0, 80%);
}

.quote{
    color: #b5b1c0;
    background-color: black;
    font-size: 75px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-style: italic;
    padding: 5% 20%;
    text-align: start;
    
}

#skills{
    width: 100vw;
    background-color: rgb(5, 0, 27);
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(22% 23% at 25% 18%, #260052 0%, #073aff00 100%),radial-gradient(38% 42% at 35% 40%, #260052FF 0%, #073AFF00 100%),radial-gradient(38% 34% at 30% 73%, #002952FF 0%, #073AFF00 100%),radial-gradient(38% 34% at 47% 17%, #002952FF 0%, #073AFF00 100%),radial-gradient(38% 34% at 68% 54%, #002B52FF 0%, #073AFF00 100%),radial-gradient(35% 41% at 69% 22%, #0E0052FF 0%, #073AFF00 100%),radial-gradient(35% 41% at 50% 44%, #001C52FF 0%, #073AFF00 100%),radial-gradient(35% 41% at 86% 75%, #0E0052FF 0%, #073AFF00 100%),radial-gradient(24% 25% at 114% 75%, #070038FF 0%, #073AFF00 100%),radial-gradient(24% 39% at 112% 24%, #004645FF 0%, #073AFF00 99%),linear-gradient(20deg, #05001b 0%, #05001b 99%);
    padding-bottom: 5%;
}

#skills h3{
    color: #b5b1c0;
    margin : 0px;
    font-size: 40px;
    font-weight: 700;
    padding: 5% 20%;
    text-align:center;
}

#skill-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    width: 100%;
}

.skill{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 25%);
    border-radius: 10px;
    margin-bottom: 2vh;
    border: 2px solid rgba(255, 255, 255, 25%);
    min-width: 10vw;
}

.skill img{
    max-height: 15vh;
    width: auto;
    height: auto;
}

.skill p{
    text-align: center;
    font-weight: bold;
}

#relevant-projects{
    background-color: rgba(255, 255, 255, 0.5);
}

#relevant-projects h3{
    color: #000000;
    margin : 0px;
    font-size: 40px;
    font-weight: 700;
    padding: 5% 20%;
    text-align:center;
}