#path {
    padding: 12vw;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(252,253,230,1) 15%, rgba(251,253,225,1) 75%, rgba(210,253,187,1) 100%);
}

.path-item{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10vw;
}

.path-item{
    justify-content: right;
}

.path-item:nth-child(4n+2), .path-item:nth-child(2){
    justify-content: left;
    flex-direction: row;
}

.circle {
    position:relative;
    width: 35vh;
    height: 35vh;
    border-radius: 50%;
    background-color: #eee;
    border-width: 3px;
    box-sizing: border-box;
    transition: border .2s ease-in;
}

.circle.bronze{
    border: solid #CD7F32;
}

.circle.silver{
    border: solid #C0C0C0;
}

.circle.gold{
    border: solid #FFD700;
}


.circle:hover {
    border-width: 10px;
    transition: border .2s ease-in;
}

.path-item p{
    font-size:xx-large;
    font-weight: bold;
    margin: auto 0 auto auto;
    visibility: hidden;
}

.path-item:nth-child(4n+2) p{
    margin: auto auto auto 0;
}

.path-item p:first-child{
    margin: auto 0 auto auto;
}

.path-item > .circle:hover ~ p{
    visibility: visible;
}

.path-connector{
    display: grid;
    grid-template-columns: auto auto;
    height: 60vh;
    width: calc(100%-35vh);
    margin-left: 17.5vh;
    margin-right: 17.5vh;
}

.path-connector.right-left > div:nth-child(2){
    border-right:  5px dashed black;
    border-bottom: 5px dashed black;
    border-radius: 0 0 300px 0;
    height: calc(100%);
}

.path-connector.right-left > div:nth-child(3){
    border-left:  5px dashed black;
    border-top: 5px dashed black;
    border-radius: 300px 0 0 0;
}

.path-connector.left-right > div:nth-child(1){
    border-left:  5px dashed black;
    border-bottom: 5px dashed black;
    border-radius: 0 0 0 300px;
    height: calc(100%);
}

.path-connector.left-right > div:nth-child(4){
    border-right:  5px dashed black;
    border-top: 5px dashed black;
    border-radius: 0 300px 0 0;
}


.path-connector.end, .path-connector.start {
    grid-template-columns: auto auto auto auto;
    height: 30vh;
}

.path-connector.start > div:nth-child(2){
    border-right:  5px dashed black;
    border-bottom: 5px dashed black;
    border-radius: 0 0 300px 0;
    height: calc(100%);
}

.path-connector.start > div:nth-child(5){
    border-left:  5px dashed black;
    border-top: 5px dashed black;
    border-radius: 300px 0 0 0;
}

.path-connector.end:nth-child(4n+1) > div:nth-child(4){
    border-right:  5px dashed black;
    border-bottom: 5px dashed black;
    border-radius: 0 0 300px 0;
    height: calc(100%);
}

.path-connector.end:nth-child(4n+1) > div:nth-child(7){
    border-left:  5px dashed black;
    border-top: 5px dashed black;
    border-radius: 300px 0 0 0;
}

.path-connector.end:nth-child(4n+3) > div:nth-child(1){
    border-left:  5px dashed black;
    border-bottom: 5px dashed black;
    border-radius: 0 0 0 300px;
    height: calc(100%);
}

.path-connector.end:nth-child(4n+3) > div:nth-child(6){
    border-right:  5px dashed black;
    border-top: 5px dashed black;
    border-radius: 0 300px 0 0;
}

#path-end{
    padding-top: 20vh;
    padding-bottom: 0vh;
    text-align: center;
}

#path-end p{
    font-weight: bolder;
    font-size: large;
}

#legend{
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    background-color: rgb(255, 255, 255);

    height: auto;
    width: 10vw;

    display:grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 1vw;
    row-gap: 1vh;
    padding: 10px;
    text-align: center;
    
    border: solid 3px black;
    border-radius: 8px;

    z-index: 1;
}

#legend div{
    grid-column: 1;
    grid-column: 1/3;
    aspect-ratio: 1/1;
    height: 80%;
    width: auto;
    margin: auto;
    border-radius: 50px;
    border: solid 1px black;
}

#legend div:first-of-type{
    background-color: #CD7F32;
}

#legend div:nth-of-type(2){
    background-color: #C0C0C0;
}

#legend div:nth-of-type(3){
    background-color: #FFD700;
}

#legend p{
    grid-column: 3/6;
    margin: auto;
}

#legend p:first-child{
    grid-column: 1/6;
    margin-bottom: 10px;
}

#legend p:first-child{
    font-weight: bold;
}

#compass{
    background-color: black;
    aspect-ratio: 1/1;
    width:20vw;
    height: auto;
    position: fixed;
    bottom: -10vw;
    left: 40%;
    align-self: center;
    border-radius: 500px;
    background-color: aliceblue;

    display:grid;
    grid-template-columns: auto auto;
     
    align-items: center;
    text-align: center;
    z-index: 1;
    
    font-size: larger;

    border: 10px solid burlywood;

    background: url('../../img/Needle.png'),radial-gradient(circle, rgba(4,140,255,1) 0%, rgba(175,218,255,1) 42%, rgba(255,255,254,1) 43%, rgba(255,254,235,1) 100%) no-repeat;
    background-position: center center;
    background-size:calc(30%);
}

#compass div p:hover{
    font-weight: bold;
    font-size: large;
}

#compass div:first-child{
    transform: rotate(45deg);
    margin: 0;
    text-align: none;
    margin-left: 5%;
}

#compass div:nth-child(2){
    transform: rotate(-45deg);
    text-align: none;
    margin-right: 5%;
}

#compass div:nth-child(3){
    transform: rotate(15deg);
    text-align: left;
    margin-left: 5%;
}
#compass div:nth-child(4){
    transform: rotate(-15deg);
    text-align: right;
    margin-right: 5%;
}