#project-body{
  width: 80%;
  height: auto;
  margin: auto;
  background-color: rgb(254, 255, 248);
  text-align: justify;
}

#project-body h1{
  color: black;
}

#project-body > div:first-child{
  cursor: pointer;
}

#project-body > div{
  width: 90%;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

#project-body hr{
  width: 90%;
}

#flex-abstract-image{
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 5%;
}

#image{
  margin: auto;
  display: flex;
  align-items: center;
  max-width: 40%;
}

#image img{
  margin: auto;
  height: auto;
  width: 100%;
  border-radius: 10px;
}

#abstract{
  width: 60%;
  text-align: justify;
}

#image-flex{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  height: 30vh;
  padding: 1vh 0 1vh 2vw;
  background-color: rgba(5, 0, 27, 0.8);
  border-radius: 10px;
}

#image-flex img{
  max-height: 100%;
  margin-right: 2vw;
  border-radius: 5px;
}

#go-back-button{
  text-align: center;
}

button{
  
  margin: 0;
  height: 5vh;
  background-color: #dd7c44; /* Green */
  border: none;
  border-radius: 3px;
  color: rgb(254, 255, 248);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
}

/* Large devices (less than 1200px) */
@media only screen and (max-width: 1200px) {
  h2{
    text-align: center;
  }
  #abstract{
    width: 100%;
  }
  #flex-abstract-image{
    flex-direction: column-reverse;
  }
}